* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    text-decoration: none;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(169.3deg, #132D46 7.09%, #01C38E 125.72%);
}

.screen-logo {

    width: 428px;
    height: 926px;
    background: linear-gradient(169.3deg, #132D46 7.09%, #01C38E 125.72%);
}

.form-bull {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-bull img {

    width: 247px;
    margin: 90px 0 30px;
}

.form-bull form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

input[type="text"]{

    width: 288px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

input[type="password"]{

    width: 288px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

input::placeholder{

    color: rgba(255, 255, 255, 0.618);
    font-size: 15px;
    font-weight: lighter;
    padding-left: 25px;
}

.form-bull a{

    font-size: 15px;
    color: rgba(255, 255, 255, 0.618);
    font-weight: lighter;
}

.login-other {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.login-other a{

    color: rgba(19, 45, 70, 0.65);
    font-size: 30px;
    margin: 20px;
}

.button{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 60px;
    border: none;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
}

.button:hover{

    background: rgba(255, 255, 255, 0.06);
}

.button a{

    color: #FFF;
    font-size: 15px;
    font-weight: normal;
}





